body {
  margin: 0;
  font-family: 'stratos-regular', sans-serif;
}

.gridComponentLittle {
  justify-content: center;
  align-items: center;
  min-height: calc(94vh - 120px);
  gap: 2px;
}
.mainContainer {
  margin: 3vh;
  font-family: system-ui !important;
  padding-bottom: 50px;
}
.herderTitlePage {
  flex-direction: row !important;
  justify-content: space-between;
  overflow: hidden; /* Ajouté pour éviter le dépassement */
  text-overflow: ellipsis; /* Ajouté pour gérer le texte qui dépasse */
  white-space: nowrap; /* Ajouté pour empêcher le retour à la ligne */
}
.headerTitle {
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerLeft {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
}
.headerRight {
  display: flex;
  margin-right: 16px;
}
.headerButton {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.mainPaperPage {
  border-radius: 14px !important;
  box-shadow: 0 0 4px 0 var(--divider) !important;
  height: calc(94vh - 120px);
}
.containerPage {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow-y: scroll; /* Change overflow-y to scroll */
  padding: 8px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.containerPage::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}

.centeredContainer {
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.infoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(94vh - 184px);
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(94vh - 120px);
}

@media (max-width: 600px) {
  .headerTitle {
    max-width: 300px;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .headerTitle {
    max-width: 440px;
  }
}

@media (min-width: 1281px) {
  .headerTitle {
    max-width: 680px;
  }
}

.editorTextArea {
  font-family: 'Roboto', 'Arial', sans-serif;
}
.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.fixed-editor {
  overflow: hidden;
  width: 288px;
  height: 432px;
  font-size: 32px;

  overflow: hidden !important;
}
.ProseMirror {
  outline: none;
  height: 100%;
}

p.is-editor-empty:first-child::before {
  color: #d3d7df;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.auto-date-component {
  display: inline-block;

  border-radius: 4px;
}

.auto-time-component {
  display: inline-block;

  border-radius: 4px;
}

.ProseMirror {
  margin: 1px;
}

.tiptap-text-container {
  margin: 0 auto;
  background-size: 100% 100%;
  color: #ffffff;
}
