body,
#root {
  margin: 0;
  background-color: #000000;
  color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body,
.medias {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Déforme la vidéo pour remplir le conteneur */
}

.accident-container {
  height: 100%;
  background-color: rgb(219, 218, 218);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100%;
}

.header-text {
  font-size: 17px;

  color: #f1921d;
}

.info-section {
  height: 100%;
  /*   background-color: #000000; */
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text {
  line-height: 1.2;
  font-size: 21px;

  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}
.info-text-light {
  font-size: 14px;
}

.info-value {
  /*   background-color: black; */
  height: 35px;
  width: 68px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
}

.info-value-texte {
  margin-top: 6px;
}

.info-value-date {
  font-size: 32px;

  padding-top: 15px;
}

.editorTextArea {
}
.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.fixed-editor {
  width: 288px;
  height: 432px;
  font-size: 32px;
  overflow: hidden !important;
}
p.is-editor-empty:first-child::before {
  color: #d3d7df;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.auto-date-component {
  display: inline-block;

  border-radius: 4px;
}

.auto-time-component {
  display: inline-block;

  border-radius: 4px;
}

.auto-temperature-component {
  display: inline-block;
  border-radius: 4px;
}

.ProseMirror {
  margin: 1px;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }
}

.fixed-editor {
  overflow: hidden;
  width: 288px;
  height: 432px;
  font-size: 32px;

  overflow: hidden !important;
}
.ProseMirror {
  outline: none;
  height: 100%;
}

p.is-editor-empty:first-child::before {
  color: #d3d7df;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap-text-container {
  background-size: 100% 100%;
  color: #ffffff;
}
