[Unit]
Description=Node.js Backend Service

[Service]
WorkingDirectory=/home/mderoir/server/backend
ExecStart=/home/mderoir/server/script/start_frontend.sh
User=mderoir
Group=mderoir
Restart=always

[Install]
WantedBy=multi-user.target

