[Unit]
Description=Node.js Frontend Service

[Service]
WorkingDirectory=/home/STRAMATEL/server/frontend
ExecStart=/home/STRAMATEL/server/script/start_frontend.sh
User=STRAMATEL
Group=STRAMATEL
Restart=always

[Install]
WantedBy=multi-user.target

