[Unit]
Description=Node.js Preview Service

[Service]
WorkingDirectory=/home/STRAMATEL/server/preview
ExecStart=/home/STRAMATEL/server/script/start_preview.sh
User=STRAMATEL
Group=STRAMATEL
Restart=always

[Install]
WantedBy=multi-user.target

