[Unit]
Description=Python temperature Service

[Service]
WorkingDirectory=/home/mderoir/server/script/temperature/
ExecStart=/home/mderoir/server/script/start_temperature.sh
User=mderoir
Group=mderoir
Restart=always

[Install]
WantedBy=multi-user.target

