[Unit]
Description=Python temperature Service

[Service]
WorkingDirectory=/home/STRAMATEL/server/script/temperature/
ExecStart=/home/STRAMATEL/server/script/start_temperature.sh
User=STRAMATEL
Group=STRAMATEL
Restart=always

[Install]
WantedBy=multi-user.target

